@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,600;0,900;1,700;1,800&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Mulish;
}

.container{
    display: flex;
    gap: 5%;
    justify-content: center;
    padding: 20px;
    
}

.side-nav{
    background-color: black;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.3);
    
}

.side-nav div{
    margin-bottom: 50px;
   
}

.side-nav .sign{
    padding: 20px;
}

.side-nav a{
    display: inline-block;
    padding: 20px;
}

.side-nav .active{
    background-color:#F1D5BB;   
}

.chart-container{
    display: flex;
}



.small-chart-container h3{
    width: 170px;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 30px;
    border-bottom: 3px solid #F1D5BB;
    
}

.chart{
    width: 608px;
    height: 608px;
    background-color: #F1D5BB;
    border-radius: 3px;
    padding: 20px;
}

.row-1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 55px;    
    
}
.row-2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 55px;
}
.row-3{
    display: flex;
    justify-content: space-around;
    margin-bottom: 55px;
}
.row-4{
    display: flex;
    justify-content: space-around;
    
}

.text-img{
    display: flex;
    gap: 50px;
}

.text-img .text{
    align-self: center;
}

.btn-X{
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-evenly;

}

.btn-X button{
    width: 46px;
    height: 35px;
    background-color:white;
    border:none;
    font-size: 20px;
    font-family: 400;
}

.btn-X span{
    font-size: 20px;
    font-weight:400 ;
}

.payment{
    margin-top:100px ;
    margin-left: 20px;
    text-align: center;
}

.payment .col-1{
    width: 443px;
    height: 286px;
    background-color: #F1D5BB;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 3px;
}

.col-1 h4{
    font-weight: 400;
    font-size: 40px;
}

.col-1 p{
    font-size: 30px;
    font-weight: 400;
}
.col-1 button{
    width: 368px;
    height: 78px;
    background-color: black;
    color: white;
    font-size: 30px;
    font-weight: 400;
}

.payment .col-2{
    width: 443px;
    height: 326px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #F1D5BB;
    border-radius: 3px;
}

.col-2 h4{
    font-size: 40px;
    font-weight: 400;
}

.col-2 input{
    width: 365px;
    height: 78px;
    margin-left: 35px;
    font-size: 30px;
    font-weight: 200;
    border: 1px solid #F1D5BB;

}

.col-2 button{
    width: 166px;
    height:78px ;
    background-color: black;
    color: white;
    font-size: 30px;
    font-family: 400;
}

footer {
    position: relative;
    margin-top: 50px;
    margin-bottom: 30px;
}

footer p{
    font-size: 15px;
    font-weight: 600;
    position: absolute;
    left: 250px;
}